doctype html
html(lang="en")
	include ./inc/head.jade
	body
		h1 Hello World
		p.
			I'm fine thank you.And you? 
			I heard you fell into a lake?That's rather unfortunate. 
			I hate it when my shoes get <a href="#">wet</a>.
